body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0;
  background-color: #f0fff0;
  scroll-behavior: smooth;
  color: #232323;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
