body {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  margin: 0;
  background-color: #8f9779;
  scroll-behavior: smooth;
  color: #f0f8ff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ol {
  margin: 0;
}
